
<md-content flex layout-padding>
 		
	 <section layout="column" layout-align="center center" layout-wrap>
	 
		 <div layout="row">

			 <md-content layout-margin>

				 <p class="md-headline">Login</p>

				 <form name="form">

					 <md-input-container class="md-block">
						 <label>Login</label>
						 <input required name="login" id="login" ng-model="vm.login">
						 <div ng-messages="form.login.$error">
							 <div ng-message="required">This is required.</div>
						 </div>
					 </md-input-container>

					 <md-input-container class="md-block">
						 <label>Senha</label>
						 <input required name="senha" id="senha" ng-model="vm.senha">
						 <div ng-messages="form.senha.$error">
							 <div ng-message="required">This is required.</div>
						 </div>
					 </md-input-container>

				 </form>
			 </md-content>

		 </div>
      
    </section>
    
</md-content>
