
<md-content flex layout-padding>
 		
	 <section layout="column" layout-align="center center" layout-wrap>

		 <progress-directive layout="row" layout-align="center center" promise="vm.promise"></progress-directive>
	 
		 <div layout="row" ng-hide="vm.promise && !vm.promise.$resolved">

			 <md-content layout-margin>

				 <p class="md-headline">Login</p>

				 <form name="form">

					 <md-input-container class="md-block">
						 <label>Login</label>
						 <input required name="login" id="login" ng-model="vm.usuario.login">
						 <div ng-messages="form.login.$error">
							 <div ng-message="required">Campo requerido.</div>
						 </div>
					 </md-input-container>

					 <md-input-container class="md-block">
						 <label>Senha</label>
						 <input required name="senha" id="senha" ng-model="vm.usuario.senha" type="password">
						 <div ng-messages="form.senha.$error">
							 <div ng-message="required">Campo requerido.</div>
						 </div>
					 </md-input-container>

				 </form>

				 <md-button class="md-raised md-primary" ng-disabled="form.$invalid" ng-click="vm.logar()">Logar</md-button>
			 </md-content>

		 </div>
      
    </section>
    
</md-content>
